<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logFile" xsi:type="File" layout="${longdate} ${level} ${message}" fileName="${basedir}/debug.log" />
  </targets>
  <rules>
    <logger name="*" minLevel="Debug" appendTo="logFile"/>
  </rules>
</nlog>